@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Esta será la página principal de la aplicación</p>
    <p>Autor: Jan Carlo Lopez Cardozo</p>
</div>
<div class="container">

    <div class="text-start">
        <h1 class="display-4">Informacion de los proyectores</h1>
        <h2 class="display-6">Proyector # @ViewData["Id"] </h2>
        <p>Marca: @ViewData["Marca"]</p>
        <p>Modelo: @ViewData["Modelo"]</p>
        <p>Número de serie: @ViewData["Numero de serie"]</p>
        <p>Situacion: @ViewData["Situacion"]</p>
        <p>Fecha de alta: @ViewData["FechaDeAlta"]</p>
    </div>

</div> 